<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buddyguard.bodyguard.repository.FoodLogRepository">

    <insert id="save">
        insert into food_logs (user_id, food_id, amount, eaten_date, meal_type)
        values (#{userId}, #{foodId}, #{amount}, #{eatenDate}, #{mealType})
    </insert>

</mapper>